<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">pMage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Connector<span class="sr-only">(current)</span></a>
        </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
        <input type="search" (ngModelChange)="searchConnectors(key.value)" #key="ngModel" ngModel
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search connectors..." required>
     </form>
  </div>
</nav>
<div class="container" id="main-container">
<div class="row">
  <div *ngFor="let connector of connectorList" class="col-md-6 col-xl-3">
     <div class="card m-b-30">
        <div class="card-body row">
           <div class="col-6 card-title align-self-center mb-0">
              <h5>{{connector?.userPMage?.realName}}</h5>
              <p class="m-0">{{connector?.userPMage?.userName}}</p>
           </div>
        </div>
        <ul class="list-group list-group-flush">
           <li class="list-group-item"><i class="fa float-right"></i>PMS: {{connector?.userPMage?.pmsName}}</li>
           <li class="list-group-item"><i class="fa float-right"></i>Project : {{connector?.userPMage?.projectId}}</li>
        </ul>
        <ul class="list-group list-group-flush">
         <li class="list-group-item"><i class="fa float-right"></i>Origin: {{connector?.userPMage?.originRepo}}</li>
         <li class="list-group-item"><i class="fa float-right"></i>Project : {{connector?.userPMage?.repoRemote}}</li>
      </ul>
        <div class="card-body">
           <div class="float-right btn-group btn-group-sm">
              <a (click)="onOpenModal(connector, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
              <a (click)="onOpenModal(connector, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
           </div>
        </div>
     </div>
  </div>
</div>

<!-- Add Employee Modal -->
<div class="modal fade" id="addConnectorModal" tabindex="-1" role="dialog" aria-labelledby="addConnectorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addConnectorModalLabel">Add Connector</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddConnector(addForm)">
          <div class="form-group">
             <label for="name">Real Name</label>
             <input type="text" ngModel name="realName" class="form-control" id="realName" placeholder="Real Name" required>
          </div>
          <div class="form-group">
             <label for="email">Password</label>
             <input type="password" ngModel name="Password" class="form-control" id="password" placeholder="Password" required>
          </div>
          <div class="form-group">
             <label for="phone">PMS Name</label>
             <input type="text" ngModel name="pmsName" class="form-control" id="pmsName" placeholder="PMS Name" required>
          </div>
          <div class="form-group">
             <label for="phone">Project</label>
             <input type="text" ngModel name="projectId" class="form-control" id="projectId" placeholder="Project ID">
          </div>
          <div class="form-group">
            <label for="name">Username</label>
            <input type="text" ngModel name="userName" class="form-control" id="userName" placeholder="Username" required>
         </div>
         <div class="form-group">
            <label for="email">Personal Token</label>
            <input type="password" ngModel name="personalToken" class="form-control" id="personalToken" placeholder="Personal Token" required>
         </div>
         <div class="form-group">
            <label for="phone">Origin Repository</label>
            <input type="text" ngModel name="originRepo" class="form-control" id="originRepo" placeholder="Origin Repository" required>
         </div>
         <div class="form-group">
            <label for="phone">Project Remote Link</label>
            <input type="text" ngModel name="repoRemote" class="form-control" id="repoRemote" placeholder="Project Remote Link">
         </div>
         <div class="form-group">
            <label for="phone">Project Local Directory</label>
            <input type="text" ngModel name="repoLocal" class="form-control" id="repoLocal" placeholder="Project Local Directory">
         </div>
          <div class="modal-footer">
             <button type="button" id="add-connector-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>

<!-- Edit Modal -->
<div class="modal fade" id="updateConnectorModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateConnectorModalLabel">Edit Connector {{editConnector?.userPMage?.realName}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
              <div class="form-group">
                 <label for="realName">Real Name</label>
                 <input type="text" ngModel="{{editConnector?.userPMage?.realName}}" name="realName" class="form-control" id="realName" placeholder="Real Name">
              </div>

              <input type="hidden" ngModel="{{editConnector?.id}}" name="id" class="form-control" id="id" placeholder="Id">

              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" ngModel="{{editConnector?.userPMage?.password}}" name="password" class="form-control" id="password" placeholder="Password">
              </div>

              <div class="form-group">
                 <label for="pmsName">PMS Name</label>
                 <input type="text" ngModel="{{editConnector?.userPMage?.pmsName}}" name="pmsName" class="form-control" id="pmsName" placeholder="PMS Name">
              </div>

              <div class="form-group">
                 <label for="projectId">Project</label>
                 <input type="text" ngModel="{{editConnector?.userPMage?.projectId}}" name="projectId" class="form-control" id="projectId" placeholder="Project Id">
              </div>

              <div class="form-group">
               <label for="userName">Username</label>
               <input type="text" ngModel="{{editConnector?.userPMage?.userName}}" name="userName" class="form-control" id="userName" placeholder="Username">
            </div>

            <div class="form-group">
               <label for="personalToken">Personal Token</label>
               <input type="password" ngModel="{{editConnector?.userPMage?.personalToken}}" name="personalToken" class="form-control" id="personalToken" placeholder="<Personal Token">
           </div>

           <div class="form-group">
            <label for="originRepo">Origin</label>
            <input type="text" ngModel="{{editConnector?.userPMage?.originRepo}}" name="originRepo" class="form-control" id="originRepo" placeholder="Origin Repositoy">
         </div>

              <div class="form-group">
                 <label for="repoRemote">Project Remote Link</label>
                 <input type="text" ngModel="{{editConnector?.userPMage?.repoRemote}}" name="repoRemote" class="form-control" id="repoRemote" name="repoRemote" placeholder="Project Remote Link">
              </div>
              <div class="form-group">
               <label for="repoRemote">Project Local Directory</label>
               <input type="text" ngModel="{{editConnector?.userPMage?.repoLocal}}" name="repoLocal" class="form-control" id="repoLocal" name="repoLocal" placeholder="Project Local Directory">
            </div>
              
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdateConnector(editConnector.id, editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteConnectorModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Connector</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete connector {{deleteConnector?.id}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteEmployee(deleteConnector?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>
</div>

<!-- Notification for no employees -->
<div *ngIf="connectorList?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">NO CONNECTORS!</h4>
  <p>No Connectors were found.</p>
</div>
</div>