<nav class="navbar navbar-expand-lg navbar-dark bg-info">
   <a class="navbar-brand" style="color:white;">pMage</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarColor02">
      <!-- <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <a class="nav-link" (click)="onOpenModal(null, 'addUser')">Add User<span
                  class="sr-only">(current)</span></a>
         </li>
      </ul> -->
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Connector<span
                  class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item active">
            <a class="nav-link" (click)="onOpenModal(null, 'login')">Login<span
                  class="sr-only">(current)</span></a>
         </li>
      </ul>
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <a class="nav-link" (click)="onOpenModal(null, 'add-config')">Update Configuration<span
                  class="sr-only">(current)</span></a>
         </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
         <input type="search" (ngModelChange)="searchConnectors(key.value)" #key="ngModel" ngModel name="key"
            id="searchName" class="form-control mr-sm-2" placeholder="Search connectors..." required>
      </form>
   </div>
</nav>
<div class="container" id="main-container">
   <div class="row">
      <div *ngFor="let connector of connectorList" class="col-md-6 col-xl-3">
         <div class="card m-b-30">
            <div class="card-body row">
               <div class="col-10 card-title align-self-center mb-0">
                  <h2>App: {{connector?.bridge?.appName}}<br>PMS: {{connector?.bridge?.pmsName}}</h2>
                  <p>{{connector?.id}}</p>
                  <p>Monitoring: {{connector?.monitoring}}</p>
               </div>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item">
                  <i class="fa float-right "></i><strong>pMage Username:</strong><br> {{connector?.userName}}<br>
               </li>
            </ul>
            <ul class="list-group list-group-flush">
               <li class="list-group-item">
                  <i class="fa float-right "></i><strong>PMS Username:</strong><br> {{connector?.bridge?.userNamePms}}<br>
                  <i class="fa float-right"></i><strong>Process Instance Id :</strong><br>
                  {{connector?.bridge?.processId}}
               </li>
            </ul>
            <ul class="list-group list-group-flush">
               <li class="list-group-item">
                  <i class="fa float-right"></i><strong>App Username:</strong><br> {{connector?.bridge?.userNameApp}}<br>
                  <i class="fa float-right"></i><strong>Project Link:</strong><br> 
                  <p><a href={{connector?.bridge?.projectLink}} class="pe-auto" target="_blank">{{connector?.bridge?.projectLink}}</a></p>
               </li>
            </ul>
            <div class="card-body">
               <div class="float-right btn-group btn-group-sm">
                  <a (click)="onOpenModal(connector, 'add_table')" class="btn btn-info tooltips" data-placement="top"
                     data-original-title="Add Action linkage table"><i class="fa fa-table"></i></a>
                  <a (click)="onOpenModal(connector, 'start_monitor')" id="start_monitor_button_{{connector?.id}}" class="btn btn-success tooltips" data-placement="top"
                     data-original-title="Start monitoring"><i class="fa fa-play"></i></a>
                  <a (click)="onOpenModal(connector, 'stop_monitor')" id="stop_monitor_button_{{connector?.id}}" class="btn btn-danger tooltips" data-placement="top"
                     data-original-title="Stop monitoring"><i class="fa fa-stop"></i></a>   
                  <a (click)="onOpenModal(connector, 'edit')" class="btn btn-primary tooltips" data-placement="top"
                     data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                  <a (click)="onOpenModal(connector, 'history')" class="btn btn-info tooltips" data-placement="top"
                     data-original-title="History"><i class="fa fa-eye"></i> </a>
                  <a (click)="onOpenModal(connector, 'delete')" class="btn btn-secondary tooltips" data-placement="top"
                     data-original-title="Delete"><i class="fa fa-times"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>
   
      <!-- Login Modal -->
      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
      aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <mat-tab-group animationDuration="0ms">
                     <mat-tab label="Login">
                        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
                           <mat-form-field class="example-full-width">
                              <mat-label>Username</mat-label>
                              <input ngModel name="userName" id="userName" matInput placeholder="pMage username" required>
                           </mat-form-field>
                           <mat-form-field class="example-full-width">
                              <mat-label>Password</mat-label>
                              <input ngModel name="password" id="password" matInput placeholder="pMage password" required>
                           </mat-form-field>
                           <div class="modal-footer">
                              <button type="button" id="login-form" class="btn btn-secondary"
                                 data-dismiss="modal">Close</button>
                              <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Login</button>
                           </div>
                        </form>
                     </mat-tab>

                     <mat-tab label="Register">
                        <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
                           <mat-form-field class="example-full-width">
                              <mat-label>Username</mat-label>
                              <input ngModel name="userName" id="userName" matInput placeholder="pMage username" required>
                           </mat-form-field>
                           <mat-form-field class="example-full-width">
                              <mat-label>Password</mat-label>
                              <input ngModel name="password" id="password" matInput placeholder="pMage password" required>
                           </mat-form-field>
                           <mat-form-field class="example-full-width">
                              <mat-label>Role</mat-label>
                              <input ngModel name="userRole" id="userRole" matInput placeholder="pMage user role" required>
                           </mat-form-field>
                           <div class="modal-footer">
                              <button type="button" id="login-form" class="btn btn-secondary"
                                 data-dismiss="modal">Close</button>
                              <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary">Login</button>
                           </div>
                        </form>
                     </mat-tab>
                  </mat-tab-group>
               </div>
            </div>
         </div>
      </div>

   <!-- Add Connector Modal -->
   <div class="modal fade bd-example-modal-lg" id="addConnectorModal" tabindex="-1" role="dialog" aria-labelledby="addConnectorModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <!-- <h1 class="modal-title" id="addConnectorModalLabel">Add Connector</h1> -->
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <mat-tab-group animationDuration="0ms">
                  <mat-tab label="New connector">
                     <form #addForm="ngForm" (ngSubmit)="onAddConnector(addForm)">
                        <mat-form-field class="example-full-width">
                           <mat-label>Username</mat-label>
                           <input ngModel name="userName" id="userName" matInput placeholder="pMage username"
                              required value="{{currentUser}}">
                        </mat-form-field>
                        <h2>PMS</h2>
                        <div class="row gx-3 mb-3">
                           <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                 <mat-label>PMS Name</mat-label>
                                 <input ngModel name="pmsName" id="pmsName" #pmsName matInput placeholder="PMS Name"
                                    required>
                              </mat-form-field>
                           </div>
                           <div class="col-md-8">
                              <mat-form-field class="example-full-width">
                                 <mat-label>PMS Url</mat-label>
                                 <input ngModel name="pmsUrl" id="pmsUrl" #pmsUrl matInput placeholder="PMS Url"
                                    required>
                              </mat-form-field>
                           </div>
                        </div>


                        <div class="row gx-3 mb-3">
                           <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                 <mat-label>PMS Username</mat-label>
                                 <input ngModel name="usernamePms" id="usernamePms" #usernamePms matInput placeholder="Ex. John" required>
                              </mat-form-field>
                           </div>
                           <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                 <mat-label>PMS Password</mat-label>
                                 <input type="password" ngModel name="passwordPms" id="passwordPms" #passwordPms [type]="hide ? 'password' : 'text'"
                                    matInput placeholder="PMS Password" required>
                                 <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </mat-form-field>
                           </div>
                        </div>
                        
                        
                        <div class="row gx-3 mb-3">
                           <div class="col-md-8">
                              <mat-form-field class="example-full-width">
                                 <mat-label>PMS Process Instance Name</mat-label>
                                 <input ngModel name="processDef" id="processDef" #processDef
                                    matInput placeholder="PMS Process Instance Name">
                              </mat-form-field>
                           </div>
                           <div class="col-md-4">
                              <mat-form-field>
                                 <mat-select [(value)]="selectedCaseId"  placeholder="PMS Process Instance Id" (selectionChange)="updateProcessInstanceId(pmsName.value, pmsUrl.value, usernamePms.value, passwordPms.value, processDef.value)">
                                   <mat-option value="reload">Reload</mat-option>
                                   <mat-option [value]="caseId" *ngFor="let caseId of caseIdList">{{caseId}}</mat-option>
                                 </mat-select>
                               </mat-form-field>
                           </div>
                        </div>
                        
                        
                        <h2>Application</h2>
                        <div class="row gx-3 mb-3">
                           <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                 <mat-label>Application name</mat-label>
                                 <input ngModel name="appName" id="appNameEdit"
                                    matInput placeholder="Appname" required>
                              </mat-form-field>
                           </div>
                           <div class="col-md-8">
                              <mat-form-field class="example-full-width">
                                 <mat-label>Project Remote Link</mat-label>
                                 <input ngModel name="projectLink" id="projectLinkEdit"
                                    matInput placeholder="Project Remote Link">
                              </mat-form-field>
                           </div>
                        </div>
   
                        <div class="mb-3">
                           <mat-form-field class="example-full-width">
                              <mat-label>Project Local Directory</mat-label>
                              <input ngModel name="projectDir" id="projectDirEdit"
                                 matInput placeholder="Project Local Directory">
                           </mat-form-field>
                        </div>
   
                        <div class="row gx-3 mb-3">
                           <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                 <mat-label>Application Username</mat-label>
                                 <input ngModel name="userNameApp" id="userNameAppEdit"
                                    matInput placeholder="App Username" required>
                              </mat-form-field>
                           </div>
                           <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                 <mat-label>Application password</mat-label>
                                 <input type="password" ngModel name="passwordApp" id="passwordAppEdit" [type]="hide ? 'password' : 'text'"
                                    matInput placeholder="App Password" required>
                                 <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </mat-form-field>
                           </div>
                        </div>
                        
                        <div class="modal-footer">
                           <button type="button" id="add-supp-connector-form" class="btn btn-secondary"
                              data-dismiss="modal">Close</button>
                           <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" data-dismiss="modal">Add</button>
                        </div>
                     </form>
                  </mat-tab>
                  <mat-tab label="Supplementary connector">
                     <form #addSuppForm="ngForm" (ngSubmit)="onAddSuppConnector(addSuppForm)">
                        <mat-form-field class="example-full-width">
                           <mat-label>Username</mat-label>
                           <input ngModel name="userName" id="userName" matInput placeholder="pMage username"
                              required>
                        </mat-form-field>
                        <h2>PMS</h2>
                        <div class="row gx-3 mb-3">
                           <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                 <mat-label>PMS Name</mat-label>
                                 <input ngModel name="pmsName" id="pmsNameEdit" matInput placeholder="PMS Name"
                                    required>
                              </mat-form-field>
                           </div>
                           <div class="col-md-8">
                              <mat-form-field class="example-full-width">
                                 <mat-label>PMS Url</mat-label>
                                 <input ngModel name="pmsUrl" id="pmsUrlEdit" matInput placeholder="PMS Url"
                                    required>
                              </mat-form-field>
                           </div>
                        </div>
                        
                        
                        <div class="mb-3">
                           <mat-form-field class="example-full-width">
                              <mat-label>PMS Process Instance Id</mat-label>
                              <input ngModel name="processId" id="processIdEdit"
                                 matInput placeholder="PMS Process Instance ID">
                           </mat-form-field>
                        </div>
                        
   
                        <div class="row gx-3 mb-3">
                           <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                 <mat-label>PMS Username</mat-label>
                                 <input ngModel name="userNamePms" matInput placeholder="Ex. John" id="userNamePmsEdit" required>
                              </mat-form-field>
                           </div>
                           <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                 <mat-label>PMS Password</mat-label>
                                 <input type="password" ngModel name="passwordPms" id="passwordPmsEdit" [type]="hide ? 'password' : 'text'"
                                    matInput placeholder="PMS Password" required>
                                 <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </mat-form-field>
                           </div>
                        </div>
                     
                        <h2>Application</h2>
                        <div class="row gx-3 mb-3">
                           <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                 <mat-label>Application name</mat-label>
                                 <input ngModel name="appName" id="appNameEdit"
                                    matInput placeholder="Appname" required>
                              </mat-form-field>
                           </div>
                           <div class="col-md-8">
                              <mat-form-field class="example-full-width">
                                 <mat-label>Project Remote Link</mat-label>
                                 <input ngModel name="projectLink" id="projectLinkEdit"
                                    matInput placeholder="Project Remote Link">
                              </mat-form-field>
                           </div>
                        </div>
   
                        <div class="mb-3">
                           <mat-form-field class="example-full-width">
                              <mat-label>Project Local Directory</mat-label>
                              <input ngModel name="projectDir" id="projectDirEdit"
                                 matInput placeholder="Project Local Directory">
                           </mat-form-field>
                        </div>
   
                        <div class="row gx-3 mb-3">
                           <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                 <mat-label>Application Username</mat-label>
                                 <input ngModel name="userNameApp" id="userNameAppEdit"
                                    matInput placeholder="App Username" required>
                              </mat-form-field>
                           </div>
                           <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                 <mat-label>Application password</mat-label>
                                 <input type="password" ngModel name="passwordApp" id="passwordAppEdit" [type]="hide ? 'password' : 'text'"
                                    matInput placeholder="App Password" required>
                                 <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </mat-form-field>
                           </div>
                        </div>
                        
                        <h2>Supplementary Application</h2>

                        <mat-radio-group aria-labelledby="base-connector" class="base-connector-radio-group" name="base-connector" [(ngModel)]="baseConnectorId">
                           <mat-radio-button class="base-connector-radio-button" *ngFor="let connector of connectorList" [value]="connector.id">
                              Base connecter ID: <strong>{{connector.id}}</strong><br>
                              Application: <strong>{{connector.bridge.appName}}</strong><br>
                              Project link: <strong>{{connector.bridge.projectLink}}</strong>
                           </mat-radio-button>
                        </mat-radio-group>

                        <div class="modal-footer">
                           <button type="button" id="add-connector-form" class="btn btn-secondary"
                              data-dismiss="modal">Close</button>
                           <button [disabled]="addSuppForm.invalid" type="submit" class="btn btn-primary">Add</button>
                        </div>
                     </form>
                  </mat-tab>
               </mat-tab-group>
            </div>
         </div>
      </div>
   </div>

   <!-- Add Configuration Modal -->
   <div class="modal fade bd-example-modal-lg" id="addConfigModal" tabindex="-1" role="dialog" aria-labelledby="addPMSModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <mat-tab-group animationDuration="0ms">
                  <mat-tab label="Update PMS configuration">
                     <form #pmsForm="ngForm" (ngSubmit)="onUpdatePMSConfig(pmsForm)">
                        <div class="row gx-3 mb-3">
                           <div class="col md-6">
                              <mat-form-field class="example-full-width">
                                 <mat-label>PMS Name</mat-label>
                                 <input ngModel name="pmsName" id="pmsName"
                                    matInput placeholder="PMS Name">
                              </mat-form-field>
                           </div>
                           <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                 <mat-label>PMS URL</mat-label>
                                 <input ngModel name="pmsUrl" id="pmsURL" matInput placeholder="Ex: http://localhost:8080/bonita">
                              </mat-form-field>
                           </div>
                        </div>
                        
                        <h2>Functions</h2>
                        <div class="mb-3" *ngFor="let func of pmsFunctions | keyvalue">
                           <h4>{{func.key}}</h4>
                           <mat-form-field class="example-full-width">
                              <mat-label>URL</mat-label>
                              <input ngModel name="{{func}}_url" id="{{func}}_url"
                                 matInput placeholder="{{func.value}}">
                           </mat-form-field>
                           <div class="row gx-3 mb-3">
                              <div class="col md-4">
                                 <mat-form-field class="example-full-width">
                                    <mat-label>Headers</mat-label>
                                    <input ngModel name="{{func}}_param" id="{{func}}_param"
                                       matInput placeholder="URL Headers. Ex: JSESSIONID, API-Token, etc. Leave blank if there is none.">
                                 </mat-form-field>
                              </div>
                              
                              <div class="col md-4">
                                 <mat-form-field class="example-full-width">
                                    <mat-label>Parameters</mat-label>
                                    <input ngModel name="{{func}}_param" id="{{func}}_param"
                                       matInput placeholder="URL Parameters. Leave blank if there is none.">
                                 </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                 <mat-form-field class="example-full-width">
                                    <mat-label>Body</mat-label>
                                    <textarea ngModel name="{{func}}_body" id="{{func}}_body" matInput placeholder="URL Body. Ex: {'state' :  'completed'}. Leave blank if there is none."></textarea>
                                 </mat-form-field>
                              </div>
                           </div>

                        </div>
                        <p>{{updatePMSConfigurationResponse}}</p>
                        
                        <div class="modal-footer">
                           <button type="button" id="add-pms-config-form" class="btn btn-secondary"
                              data-dismiss="modal">Close</button>
                           <button [disabled]="pmsForm.invalid" type="submit" class="btn btn-primary">Update</button>
                        </div>
                     </form>
                  </mat-tab>
                  <mat-tab label="Update Application Configuration">
                     <form #appForm="ngForm" (ngSubmit)="onUpdateAppConfig(appForm)">
                        <h3>Information Location</h3>
                        
                        <div class="mb-3" *ngFor="let info of appMessageInfo">
                           <mat-form-field class="example-full-width">
                              <mat-label>{{info}}</mat-label>
                              <input ngModel name="info" id="{{info}} location"
                                 matInput placeholder="{{info}} location, classpath, etc.">
                           </mat-form-field>
                        </div>
                        
                        
                        <div class="modal-footer">
                           <button type="button" id="add-app-config-form" class="btn btn-secondary"
                              data-dismiss="modal">Close</button>
                           <button [disabled]="appForm.invalid" type="submit" class="btn btn-primary">Update</button>
                        </div>
                     </form>
               </mat-tab>
               </mat-tab-group>
            </div>
         </div>
      </div>
   </div>

   <!-- Edit Modal -->
   <div class="modal fade bd-example-modal-lg" id="updateConnectorModal" tabindex="-1" role="dialog"
      aria-labelledby="connectorEditModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h1 class="modal-title" id="updateConnectorModalLabel">Edit Connector
                  {{editConnector?.id}}</h1>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form #editForm="ngForm">
                  <h2>Username: {{editConnector?.userName}}</h2>
                  <h2>PMS</h2>
                  <div class="row gx-3 mb-3">
                     <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                           <mat-label>PMS Name</mat-label>
                           <input ngModel="{{editConnector?.bridge?.pmsName}}" name="pmsName" id="pmsName" matInput placeholder="PMS Url"
                              required>
                        </mat-form-field>
                     </div>
                     <div class="col-md-8">
                        <mat-form-field class="example-full-width">
                           <mat-label>PMS Url</mat-label>
                           <input ngModel="{{editConnector?.bridge?.pmsUrl}}" name="pmsUrl" id="pmsUrl" matInput placeholder="PMS Name"
                              required>
                        </mat-form-field>
                     </div>
                  </div>
                  
                  
                  <div class="mb-3">
                     <mat-form-field class="example-full-width">
                        <mat-label>PMS Process Instance Id</mat-label>
                        <input ngModel="{{editConnector?.bridge?.processId}}" name="processId" id="processId"
                           matInput placeholder="PMS Process Instance ID">
                     </mat-form-field>
                  </div>
                  

                  <div class="row gx-3 mb-3">
                     <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                           <mat-label>PMS Username</mat-label>
                           <input ngModel="{{editConnector?.bridge?.userNamePms}}" name="userNamePms" matInput placeholder="Ex. John" id="userNamePms" required>
                        </mat-form-field>
                     </div>
                     <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                           <mat-label>PMS Password</mat-label>
                           <input type="password" ngModel="{{editConnector?.bridge?.passwordPms}}" name="passwordPms" id="passwordPms" [type]="hide ? 'password' : 'text'"
                              matInput placeholder="PMS Password" required>
                           <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                     </div>
                  </div>

                  <mat-form-field class="example-full-width" *ngIf="editConnector?.bridge?.pmsName == 'bonita'">
                     <mat-label>Input Artifact : Task : Output Artifact</mat-label>
                     <textarea matInput placeholder="Ex. CompleteBrakeSystem,RSDsCar : Asssess RSD installation : BrakeSystemAssessment" name="taskArtifact" id="taskArtifact" ngModel
                     cdkTextareaAutosize
                     #autosize="cdkTextareaAutosize"
                     cdkAutosizeMinRows="10"
                     cdkAutosizeMaxRows="10"></textarea>
                  </mat-form-field>
                  
                  
                  <h2>App Connection Configuration</h2>
                  <div class="row gx-3 mb-3">
                     <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                           <mat-label>Application name</mat-label>
                           <input ngModel="{{editConnector?.bridge?.appName}}" name="appName" id="appName"
                              matInput placeholder="Appname" required>
                        </mat-form-field>
                     </div>
                     <div class="col-md-8">
                        <mat-form-field class="example-full-width">
                           <mat-label>Project Remote Link</mat-label>
                           <input ngModel="{{editConnector?.bridge?.projectLink}}" name="projectLink" id="projectLink"
                              matInput placeholder="Project Remote Link">
                        </mat-form-field>
                     </div>
                  </div>
                  
                  
                  <div class="mb-3">
                     <mat-form-field class="example-full-width">
                        <mat-label>Project Local Directory</mat-label>
                        <input ngModel="{{editConnector?.bridge?.projectDir}}" name="projectDir" id="projectDir"
                           matInput placeholder="Project Local Directory">
                     </mat-form-field>
                  </div>
                  

                  <div class="row gx-3 mb-3">
                     <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                           <mat-label>Application Username</mat-label>
                           <input ngModel="{{editConnector?.bridge?.userNameApp}}" name="userNameApp" id="userNameApp"
                              matInput placeholder="App Username" required>
                        </mat-form-field>
                     </div>
                     <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                           <mat-label>Application password</mat-label>
                           <input type="password" ngModel="{{editConnector?.bridge?.passwordApp}}" name="passwordApp" id="passwordApp" [type]="hide ? 'password' : 'text'"
                              matInput placeholder="App Password" required>
                           <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                     </div>
                  </div>

                  <div *ngIf="editConnector?.suppProjectLink != undefined">
                     <h2>Supplementary Application</h2>

                     <mat-radio-group aria-labelledby="base-connector" class="base-connector-radio-group" name="base-connector" [(ngModel)]="baseConnectorId" >
                        <mat-radio-button class="base-connector-radio-button" *ngFor="let connector of connectorList" [value]="connector.id">
                           Base connecter ID: <strong>{{connector.id}}</strong><br>
                           Application: <strong>{{connector.bridge.appName}}</strong><br>
                           Project link: <strong>{{connector.bridge.projectLink}}</strong>
                        </mat-radio-button>
                     </mat-radio-group>
                  </div>


                  <div class="modal-footer">
                     <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                     <button (click)="onUpdateConnector(editConnector.id, editForm.value, editForm.value.taskArtifact)" data-dismiss="modal"
                        class="btn btn-primary">Save changes</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>

   <!-- Delete Modal -->
   <div class="modal fade" id="deleteConnectorModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h2 class="modal-title" id="deleteModelLabel">Delete Connector</h2>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <p>Are you sure you want to delete connector {{deleteConnector?.id}}?</p>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button (click)="onDeleteConnector(deleteConnector?.id)" class="btn btn-danger"
                     data-dismiss="modal">Yes</button>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Start monitoring Modal -->
   <div class="modal fade" id="startMonitorConnectorModal" tabindex="-1" role="dialog" aria-labelledby="startMonitoringModelLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h2 class="modal-title" id="startMonitoringModelLabel">Start Monitoring</h2>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <p>Are you sure you want to start monitoring your activities between your applications and PMS via connector {{monitoringConnector?.id}}?</p>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button (click)="onStartMonitoring(monitoringConnector?.id)" class="btn btn-primary"
                     data-dismiss="modal">Yes</button>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Stop monitoring Modal -->
   <div class="modal fade" id="stopMonitorConnectorModal" tabindex="-1" role="dialog" aria-labelledby="stopMonitoringModelLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h2 class="modal-title" id="stopMonitoringModelLabel">Stop Monitoring</h2>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <p>Are you sure you want to stop monitoring your activities between your applications and PMS via connector {{monitoringConnector?.id}}?</p>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button (click)="onStopMonitoring(monitoringConnector?.id)" class="btn btn-primary"
                     data-dismiss="modal">Yes</button>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- History Modal -->
   <div class="modal fade bd-example-modal-lg" id="historyConnectorModal" tabindex="-1" role="dialog" aria-labelledby="historyModelLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h2 class="modal-title" id="historyModal">History Connector table</h2>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#Job Id</th>
                      <th scope="col">Job submission time</th>
                      <th scope="col">Task</th>
                      <th scope="col">Message</th>
                      <th scope="col">Violated?</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let row of historyConnector?.historyCommitList">
                        <td>{{row.commitId}}</td>
                        <td>{{row.commitTime}}</td>
                        <td>{{row.taskFound}}</td>
                        <td>{{row.monitoringMessage}}</td>
                        <td>{{row.violated}}</td>
                        <a (click)="onOpenDynamicModal(row, historyConnector)" class="btn btn-success tooltips" data-placement="top"
                     data-original-title="Fix" *ngIf="row.violated" data-dismiss="modal"><i class="fa fa-wrench"></i> </a>
                      </tr>
                  </tbody>
               </table>
               <a (click)="downloadHistory()" class="btn btn-primary tooltips" data-placement="top"
                     data-original-title="Download"><i class="fa fa-download"></i></a>
               <a *ngIf="historyConnector?.suppProjectLink != null" (click)="downloadSuppHistory(historyConnector.id)" class="btn btn-danger primary" data-placement="top"
                     data-original-title="Download Monitored Project"><i class="fa fa-download"></i></a>
            </div>
         </div>
      </div>
   </div>

   <!-- Add monitoring table Modal -->
   <div class="modal fade" id="addTableModal" tabindex="-1" role="dialog" aria-labelledby="addTableModelLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h2 class="modal-title" id="addTableModal">Create Action linkage table</h2>
               <h3>Detail the application action, desired event in the PMS and corresponding task</h3>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form #addActionForm="ngForm"> 
                  <mat-form-field class="example-full-width">
                     <mat-label>App Event, App Event Info, PMS Event, Task</mat-label>
                     <textarea matInput placeholder="Ex. push-commit, finish Init, endTask, Init" value={{editConnector?.actionEventDescription}} name="actionEventDescription" id="actionEventDescription" ngModel
                     cdkTextareaAutosize
                     #autosize="cdkTextareaAutosize"
                     cdkAutosizeMinRows="1"
                     cdkAutosizeMaxRows="10"></textarea>
                  </mat-form-field>
                   {{addActionForm.value.actionEventDescription}}
                   <div class="modal-footer">
                     <button type="button" class="btn btn-success" (click)="onGenerateActionTable(editConnector.id)" id="generate-add-action-table" >Generate</button>
                     <button type="button" class="btn btn-secondary" (click)="onCancelSavingActionTable(editConnector.actionEventDescription)" data-dismiss="modal" id="add-action-table">Cancel</button>
                     <button class="btn btn-primary" type="submit" (click)="onAddActionTable(editConnector.id, addActionForm.value.actionEventDescription)" data-dismiss="modal">Save</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>

   <div class="container py-5 modal fade" id="discussModal" role="dialog" aria-labelledby="discuss" aria-hidden="true">
      <div class="row d-flex justify-content-center" role="document">
         <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card modal-content" id="chat1" style="border-radius: 15px;">
               <div
               class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0 modal-header"
               style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                  <i class="fas fa-angle-left"></i>
                  <p class="mb-0 fw-bold">Discussion</p>
                  <i class="fas fa-times"></i>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="card-body">
                  <div class="d-flex flex-row justify-content-start mb-4">
                     <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                        alt="avatar 1" style="width: 45px; height: 100%;">
                     <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                        <p class="small mb-0">Hello and thank you for visiting MDBootstrap. Please click the video
                        below.</p>
                     </div>
                  </div>

                  <div class="d-flex flex-row justify-content-end mb-4">
                     <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                        <p class="small mb-0">Thank you, I really like your product.</p>
                     </div>
                     <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                        alt="avatar 1" style="width: 45px; height: 100%;">
                  </div>

                  <div class="d-flex flex-row justify-content-start mb-4">
                     <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                        alt="avatar 1" style="width: 45px; height: 100%;">
                     <div class="ms-3" style="border-radius: 15px;">
                        <div class="bg-image">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/screenshot1.webp"
                           style="border-radius: 15px;" alt="video">
                        <a href="#!">
                           <div class="mask"></div>
                        </a>
                        </div>
                     </div>
                  </div>

                  <div class="d-flex flex-row justify-content-start mb-4">
                     <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                        alt="avatar 1" style="width: 45px; height: 100%;">
                     <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                        <p class="small mb-0">...</p>
                     </div>
                  </div>

                  <div class="form-outline">
                     <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                     <label class="form-label" for="textAreaExample">Type your message</label>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   
</div>

<!-- Notification for no connectors -->
<div *ngIf="connectorList?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
   <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO CONNECTORS!</h4>
      <p>No connectors were found.</p>
      <p>Start inserting the connectors between your favourite Process Management System (PMS) and your application by clicking <b>Add Connector</b>. Fill in the form the necessary information so that pMage can establish the connection between your systems.</p>
   </div>
</div>